<!DOCTYPE html>
<html>
  <%= template('head').result(binding) %>
  <body>
    <%= template('header').result(binding) %>

    <% errors = [] %>

    <% gid = 'g0' %>
    <% features = groups.first.features %>

    <%= template('scenarios').result(binding) %>

    <main class="<%= options.color %> lighten-5">
      <div class="row">

        <div id="overview" class="col s12 <%= options.color %> lighten-5">
          <%= template('overview').result(binding) %>
        </div>

        <div id="features" class="col s12 <%= options.color %> lighten-5 white-text">
          <%= template('features').result(binding) %>
        </div>

        <div id="summary" class="col s12 <%= options.color %> lighten-5">
          <%= template('summary').result(binding) %>
        </div>

        <div id="errors" class="col s12 <%= options.color %> lighten-5">
          <%= template('errors').result(binding) %>
        </div>
      </div>
    </main>

    <%= template('footer').result(binding) %>
  </body>
</html>
